<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Edit Project</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: ''}) %>
    <!-- Hero -->
    <div class="hero bg-base-200 h-[300px]">
      <div class="hero-content text-center">
        <div class="max-w-xl">
          <h1 class="text-5xl font-bold"><%= project.title %></h1>
          <p class="py-6 text-lg">
            Below, you will find detailed information about the project: <%=
            project.title %>
          </p>
        </div>
      </div>
    </div>

    <form
      action="/solutions/editProject"
      method="post"
      class="max-w-[1280px] w-fit mx-auto px-[20px] py-[40px]"
    >
      <div class="hidden">
        <label for="title" class="block font-medium my-2">Title</label>
        <input
          type="text"
          id="id"
          name="id"
          required=""
          class="w-full rounded-md px-3 py-2"
          value="<%= project.id %>"
        />
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 gap-y-0">
        <div class="mb-6">
          <label for="title" class="block font-medium my-2">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            required=""
            class="w-full rounded-md px-3 py-2"
            value="<%= project.title %>"
          />
        </div>
        <div class="mb-6">
          <label for="feature_img_url" class="block font-medium my-2"
            >Feature Image (URL)</label
          >
          <input
            type="url"
            id="feature_img_url"
            name="feature_img_url"
            required=""
            class="w-full rounded-md px-3 py-2"
            value="<%= project.feature_img_url %>"
          />
        </div>

        <div class="mb-6">
          <label for="sector_id" class="block font-medium my-2">Sector</label>
          <select
            id="sector_id"
            name="sector_id"
            required=""
            class="w-full rounded-md px-3 py-2"
          >
          <% sectors.forEach(sector=>{ %>
            <option <%= (project.sector_id == sector.id) ? "selected" : "" %> value="<%= sector.id %>">
            <%= sector.sector_name %>
            </option>
            <% }) %>
          </select>
        </div>

        <div class="mb-6">
          <label for="intro_short" class="block font-medium my-2">Intro</label>

          <textarea
            id="intro_short"
            name="intro_short"
            class="w-full rounded-md px-3 py-2 h-40"
          ><%= project.intro_short %></textarea>
        </div>

        <div class="mb-6">
          <label for="summary_short" class="block font-medium my-2"
            >Short Summary</label
          >
          <textarea
            id="summary_short"
            name="summary_short"
            required=""
            class="w-full rounded-md px-3 py-2 h-40"
          ><%= project.summary_short %></textarea>
        </div>

        <div class="mb-6">
          <label for="impact" class="block font-medium my-2">Impact</label>
          <textarea
            id="impact"
            name="impact"
            required=""
            class="w-full rounded-md px-3 py-2 h-40"
          ><%= project.impact %></textarea>
        </div>

        <div class="mb-6">
          <label for="original_source_url" class="block font-medium my-2"
            >Original Source (URL)</label
          >
          <input
            type="url"
            id="original_source_url"
            name="original_source_url"
            required=""
            class="w-full rounded-md px-3 py-2"
            value="<%= project.original_source_url %>"
          />
        </div>
      </div>

      <div class="mt-6">
        <button type="submit" class="btn btn-primary w-full btn-sm">
          Update Project
        </button>        
      </div>
        
      <div class="mt-3">
        <a href="/solutions/deleteProject/<%= project.id%>" class="btn !bg-red-500 !text-white w-full btn-sm">
            Delete Project
        </a>
      </div>

      <div class="mt-3">
        <a
          class="btn btn-sm w-full"
          href="#"
          onclick="history.back(); return false;"
        >
          Back
        </a>
      </div>
    </form>
  </body>
</html>
